# Eza - https://github.com/eza-community/eza
alias ls='eza'
alias ll='eza -l -g --icons'
alias la='eza -l -g -a --icons'
alias lt='eza --tree'

# bat - https://github.com/sharkdp/bat
alias cat='bat --paging=never --style=plain'
alias less='bat --style=numbers'

#fzf
alias f='fzf -m \
  --prompt="▶ " \
  --pointer="→ " \
  --marker="♡ " \
  --preview "fold -w $FZF_PREVIEW_COLUMNS {}" \
  --preview-window=right:60% \
  --height 75% \
  --border top \
  --color "preview-bg:#223344,border:#778899" \
  --style minimal \
  --bind "y:execute(cat {} | pbcopy)+abort"'
alias fv='vim $(f)'
alias fc='cat $(f)'

# general
alias mvnci='mvn clean install'
alias mvncist='mvn clean install -Dskip.npm -DfailIfNoTests=false -DskipTests'
alias glo='git log --oneline --decorate --date=short --pretty="%Cred%h%Creset %C(white)(%ad) -%C(auto)%d%Creset %s  %C(bold blue)<%an>%Creset" --date=short'

# navigation
WORKSPACE={{ workspace_dir }}
alias ws='cd ${WORKSPACE}'
alias dt='cd ~/Desktop'
alias dw='cd ~/Downloads'

# vim
alias vim='nvim'

# ripgrep
alias rg='rg --smart-case'
alias rga='grep --no-ignore'

# fd
alias fd='fd --hidden --follow'

# config
alias aliases='vim $ZSH_CUSTOM/aliases.zsh'
alias zshconf='vim ~/.zshrc'

# git
alias gp='git push origin HEAD:refs/for/"$(git_current_branch)"'
alias gb='git branch -v'