font-family = "{{ ghostty_font_family }}"
font-size = {{ ghostty_font_size }}

cursor-color = "{{ ghostty_cursor_color }}"

theme = "{{ ghostty_theme }}"
foreground = "{{ ghostty_foreground_color }}"

window-height = {{ ghostty_window_height }}
window-width = {{ ghostty_window_width }}
window-padding-balance = true
adjust-cell-height = -10%

auto-update = check
auto-update-channel = stable

quit-after-last-window-closed = true
confirm-close-surface = false
